.aboutContainer {
    height: 100vh;
    color:$colorLight;
    @include flex(row,flex-start,center);
    flex-wrap:wrap;
    overflow:hidden;
}

.aboutRightInfo {
    width: 70%;
    text-align:right;
    height: 90%;
    @include flex(column, center,flex-end);

    h2 {
    
        &:after {
            content: " ";
            background-color: white;
            height: 1px;
            display: block;
            margin-top: 7px;
            width: 400px;
            opacity: 0.5;
        }
    }

    p {
        width: 80%;
        font-weight: 300;
        font-size: 1rem;
    }

    .afterMe {
        position:relative;
        // &:after {
        //     content: "";
        //     display:inline-block;
        //     height: 5px;
        //     width: 2rem;
        //     background-color:$accentColor;
        //     position: absolute;
        //     bottom:0;
        //     right:0;
        //     z-index: -1;
        //     transform: translateX(-20px)
        // }
    }
   
}

.aboutInfoNav {
    @include flex(row, flex-start,center);

     button {
         background-color: $colorLight;
         border: none;
         border-radius: 100%;
         padding: 8px;
         width: 45px;
         height: 45px;
         margin-left: 10px;
         color: $accentColor;
         transition: .05s all linear;
         text-align: center;
         


         &:hover {
             background-color: $accentColor;
             color: $colorLight;
         }
     }
}

.aboutLeftContainer {
    width: 30%;
    height: 90%;
    @include flex(row, center,center);

    .headshotContainer {
        width: 100%;
        margin:0 auto;

        img {
            width: 100%;
            box-shadow: 8px 8px 0px 1px rgba(101, 173, 145, 1);
           
        }
    }

}

.back {
    background-color:red;
}

.bottomAboutContainer {
      width:100%;
      height: 8vh;
      overflow:hidden;
      color:$colorLight;
      position:relative;
      
      a {
          @include flex(row, space-around, flex-end);
          height: 100%;
          width: 100%;
      }

      p {
          transform: translateY(50px);
          transition: .1s all linear;
          padding: 0;
          margin: 0;

          &:after {
              content: "";
              width: 2rem;
              height: 5px;
              background-color: $accentColor;
              display: block;
              transform: translateX(50px) translateY(-9px);
              transition: .1s all linear;
              transition-delay: .13s;
              z-index: -1;
          }
      }

      svg {
          height: 100%;
          fill: $colorLight;
          opacity: 0.6;
          transition: .1s all linear;

      }
}

.bottomAboutContainer:hover svg {
    transform: translateY(10px);
    opacity:1;

}

.bottomAboutContainer:hover p {
    transform: translateY(-10px);
}

.bottomAboutContainer:hover p:after {
    transform: translateX(0) translateY(-9px);
}

