.educationContainer {
    height:100vh;
    background-color:$accentColor;
    @include flex(column,center,center);
    flex-wrap:wrap;
    overflow:hidden;
}

.innerEducationContainer {
    @include flex(row, center,center);
    height: 92%;
    transform:translateY(2vh);
}

 .educationLeftInfo {
     @include flex(column, center, flex-start);
     width: 50%;
     height: 100%;
     color:$colorLight;

      h2 {
          color:$primaryColor;

          &:after {
              content: " ";
              background-color: white;
              height: 1px;
              display: block;
              margin-top: 7px;
              width: 400px;
              opacity: 0.5;
          }
      }
 }

.educationRightIconGallery {
    width: 50%;
    @include flex(row, center, center);
    flex-wrap: wrap;
    height: 100%;
}

.iconContainer {
    width: calc(25% - 20px);
    margin: 10px;
    text-align:center;

    
    p{
        transition:.09s all linear;

        &:before {
            content:"";
            background-color:$primaryColor;
            width:100%;
            height: 2px;
            display:block;
            transition:.09s all linear;
        }

    }
    
    svg {
        width: 60%;
        fill:$primaryColor;
     
    }
}

.iconContainer:hover p:before{
    transform:translateY(30px);
}

.iconContainer:hover p{
    transform:translateY(-20px)
}

.bottomEducationContainer {
    width: 100%;
    height: 8vh;
    @include flex(row, space-around, flex-end);
    overflow: hidden;
    color: $colorLight;
    position: relative;

    p {
        transform: translateY(50px);
        transition: .1s all linear;
        padding: 0;
        margin: 0;

        &:after {
            content: "";
            width: 2rem;
            height: 5px;
            background-color: $primaryColor;
            display: block;
            transform: translateX(50px) translateY(-9px);
            transition: .1s all linear;
            transition-delay: .13s;
            z-index: -1;
        }
    }

    svg {
        height: 100%;
        fill: $colorLight;
        transition: .1s all linear;

    }

}

.bottomEducationContainer:hover svg {
    transform: translateY(10px);

}

.bottomEducationContainer:hover p {
    transform: translateY(-10px);
}

.bottomEducationContainer:hover p:after {
    transform: translateX(0) translateY(-9px);
}

.educationInfoNav {
    @include flex(row-reverse, flex-start, center);
     
    p {
        color: $secondaryColor;
    }

        button {
            background-color: $colorLight;
            border: none;
            border-radius: 100%;
            padding: 8px;
            width: 45px;
            height: 45px;
            color: $accentColor;
            transition: .05s all linear;
            text-align: center;
            margin-right: 1rem;
            font-size:1rem;
    }
}
