// HEADER MAIN STYLES WITH NAV
header {
    height:100vh;
    background-color:$secondaryColor;

    .mainHeaderNav {
        height: 18vh;
        @include flex(row, space-between, center);
    }

    .mainHeaderTitle {
        height: 73vh;
        position:relative;
        @include flex(row, flex-start, center);
        transform:translateY(-10%);

       
    }
}




.headerLogo {
    width: 15%;

    svg {    
        fill:$colorLight;
        transform:translate(-3.5rem);
    }
}

.mainNav {
    width: 4rem;
    height: 4rem;
    @include flex(column, center, center);
     background-color:$primaryColor;
     z-index: 1000;
     border-radius:20px;
     position:fixed;
     right:2rem;
     top: 2rem;


    .hamburgerNav {
        height: 3px;
        width: 2rem;
        background-color:$accentColor;
        transition:0.09s all linear;
       
        

        &:after,
        &:before {
            content:'';
            height: 3px;
            background-color:$colorLight;
            display:block;
            transition:0.09s all linear;

           
        }
        &:after {
            transform:translateY(5px);
            width: 70%;

        }
        &:before {
            transform:translateY(-8px); 
            width: 80%;
        }

        &:hover {
            width: 2.5rem;
        }
    } 
}

.mainNav:hover .hamburgerNav:before,
.mainNav:hover .hamburgerNav,
.mainNav:hover .hamburgerNav:after {
    width: 2.5rem;
}

.mainNav:hover .hamburgerNav:before {
    transform:translateY(-13px);
}

.mainNav:hover .hamburgerNav:after {
    transform:translateY(calc(7px + 3px))
}

.mainNav:active .hamburgerNav {
    opacity:0;
}





.leftTitle {
    width: 70%;
    @include flex(column, center, flex-start);
    height:100%;

    //  &:after {
    //      content: "";
    //      height: 2px;
    //      width: 50px;
    //      position: absolute;
    //      display: block;
    //      background-color: $accentColor;
    //      transform: translate3d(42px, -62px, -135px) translateZ(100px) rotateZ(90deg);

    //  }

    h1 {
        color:$colorLight;
        @include font($secondaryFont, 600);
        padding-bottom: 10px;
        text-transform: uppercase;
        letter-spacing: 4px;
        font-size: 4rem;
         text-shadow: 3px 3px 0px $accentColor;
        
        .addAccent {
            text-shadow: 3px 3px 0px $colorLight;

        }

        .underline {
            border-bottom:1px solid white;
            
            // &:after {
            //     content:"";
            //     width: 20px;
            //     height:3px;
            //     background-color:$colorLight;
            //     display:block;
            // }
        }

       
        &:after {
            content: " ";
            background-color:white;
            height: 1px;
            display:block;
            margin-top:7px;
            width:110%;
            opacity: 0.5;
        }
    }

    h3 {
        font-family:$accentFont;
        color:$colorLight;
    }

    p {
        color:$colorLight;
    }

    button {
        background-color:$colorLight;
        border:none;
        border-radius: 100%;
        padding:8px;
        width: 45px;
        height: 45px;
        margin-right:10px;
        color:$accentColor;
        transition: .05s all linear;
        text-align:center;


        &:hover {
            background-color:$accentColor;
            color: $colorLight;
        }
    }



    .leftTitleNav {
        @include flex(row,flex-start,center);

    }
}

.bottomHeaderContainer {
    width:100%;
    height: 8vh;
    overflow:hidden;
    color:$colorLight;
    position:relative;
    
    a {
        @include flex(row, space-around, flex-end);
        height: 100%;
        width: 100%;

    }

    p {
        transform: translateY(50px);
         transition: .1s all linear;
         padding:0;
         margin:0;

         &:after {
             content: "";
             width: 2rem;
             height: 5px;
             background-color: $accentColor;
             display:block;
             transform:translateX(50px) translateY(-9px);
              transition: .1s all linear;
            transition-delay:.13s;
            z-index:-1;
         }
    }
    
    svg {
        height: 100%;
        fill: $colorLight;
        fill-opacity: 0.6;
        transition: .1s all linear;
        
    }

}

.bottomHeaderContainer:hover svg {
   transform:translateY(10px);
   opacity:1;

}

.bottomHeaderContainer:hover p {
    transform:translateY(-10px);
}

.bottomHeaderContainer:hover p:after {
    transform: translateX(0) translateY(-9px);
}
    


// ANIMATIONS

@keyframes chevronJiggle {
    0% {
        transform:rotate(-44deg) translateY(-20px) ;
    }
    25% {
        transform:rotate(-44deg) translateY(-22px)
    }
    50% {
        transform:rotate(-44deg) translateY(-20px)
    }
    75% {
        transform:rotate(-44deg) translateY(-18px) scale(1.03)
    }
    100% {
        transform:rotate(-44deg) translateY(-20px) 
    }
}