// $lgDesktop: "only screen and (max-width: 1600px)";
// $medDesktop: "only screen and (max-width: 1440px)";
// $smDesktop: "only screen and (max-width: 1280px)";
// $lgTablet: "only screen and (max-width: 900px)";
// $medTablet: "only screen and (max-width: 800px)";
// $smTablet: "only screen and (max-width: 750px)";
// $lgPhone: "only screen and (max-width: 650px)";
// $medPhone: "only screen and (max-width: 550px)";
// $smPhone: "only screen and (max-width: 400px)";

// to declare : @media #{$smPhone} {
    // blah
// }

//HEADER 



@media #{$smDesktop} {
    .headerContainer {
        margin-left: 4rem;
    }

    .headerLogo{
        width: 24%;
        transform: translate(-6rem);
        margin-left: 4rem;
    }


        .iconContainer {
            p {
                display: none;
            }

        }

        .aboutContainer,
        .innerEducationContainer,
        .mainContactContainer {
            margin: 0 4%;
        }

        .contactContainer,
          {
            h2 {
                &:after {
                    width:  65%;
                }
            }
        }

        .educationLeftInfo {
            h2 {
                &:after {
                    width: 150%;
                }
            }
        }
    
}

@media #{$lgTablet} {

    .headerlogo {
        transform: translate(-1rem);
        margin-left: 5.5rem;
    }

    .aboutContainer {
        margin: 0 2rem;
    }
}

@media #{$smTablet} {
    .headerLogo {
        width: 33%;
        margin-left: 5rem;
    }
}

@media #{$lgPhone} {

    
    .headerLogo {
        width: 46%;
    }

    .mainContactContainer {
        margin: 2rem 0 4rem 0;
        text-align: center;
    }

    .contactLeftContainer {
        padding-bottom:2rem;
    }

        .aboutRightInfo {

            p {
                line-height: 1.5rem;
                text-align: left;
            }
        }

   

}

@media #{$smPhone} {

    header {
        text-align:center;
        
        .mainHeaderNav {
            @include flex(row, flex-end, center);
        }
    }


    .headerLogo {
        display:none;
    }

    .headerContainer {
        margin-left: 1rem;
    }

    .leftTitle {
        width: 90%;

        .leftTitleNav {
            align-self:center;

            p {
                display:none;
            }
        }
    }

    .leftTitle h1:after {
        display:none;
    }

    .bottomHeaderContainer {

        .scrollDown {
            display:none;
        }
    }

}

// ABOUT SECTION


@media #{$lgPhone} {

    .aboutContainer {
       justify-content:center;
       flex-direction:column-reverse;
      padding: 4rem 0;
        height: auto;
        margin: 0 auto;

    }
    .aboutRightInfo {
        width: 90%;
         @include flex(column, center, center);
           text-align:center;
           margin: 0 auto;
            margin-bottom: 2rem;
            

        h2 {
            margin-top: 2rem;
        }

        h2::after {
            display:none;
        }
    }

    .aboutLeftContainer {
        width: 90%;
       

        .headshotContainer {

            img {
              width: 70%;
               margin: 0 auto;
            }
        }
    }

    .aboutInfoNav p{
        display:none;
    }
}

// EDUCATION CONTAINER




@media #{$smTablet} {

    .educationContainer {
        // height: auto;
        // padding: 4rem 0;

    }
    .innerEducationContainer {
        @include flex(column, center, center);
    }

    .educationLeftInfo {
        @include flex(column, center, center);
        width: 90%;
        height: 40%;
        text-align:center;
        
        h2::after{
            display:none;
        }
    }
    .educationRightIconGallery {
        width: 100%;
    }

    .iconContainer {
        width: calc(25% - 20px);
    }




}


// PROJECT 

@media #{$smTablet} {
    .projectsContainer {
        height: auto;
        padding: 4rem 0;
        text-align:center;

        h2 {
            margin-bottom: 2rem;
            &:after {
                display:none;
            }
        }
    }
    .scrollContainerMain{
        flex-direction: column;
        width: 100%;

    }
    .scrollContainerRight,
    .scrollContainerLeft {
        width: 100%;

    }

    .scrollContainerLeft {
        height: 10%;
        align-items:center;
    }

    .projectsContainer {
        padding: 0 0;
    }

    .scrollContainerRight {
        justify-content:normal;
    }

    .projectOneWrapper,
    .projectThreeWrapper{
        @include flex(column-reverse, center, center);
    }

    .projectTwoWrapper {
        @include flex(column-reverse, center, center)
    }

    .projectOneInfo,
    .projectTwoInfo,
    .projectThreeInfo{
        width: 90%;
    }
        
    .projectOneImage,
    .projectTwoImage,
    .projectThreeImage {
        width:50%;
        margin-bottom: 1rem;
    }

    .responsiveIcons {
        left:25%;
    }

    .bottomAboutContainer,
    .bottomEducationContainer,
    .bottomProjectContainer,
    .bottomHeaderContainer {
        display: none;
    }
}

// CONTACT 

@media #{$lgPhone} {

    .contactContainer {

        height: auto;

        h2 {

            &::after {
                display:none;
            }
        }
    }

    .mainContactContainer {
        @include flex(column, center, center);
    }
    .contactLeftContainer {
        width: 100%;
    }

    .contactRightContainer {
        width: 90%;
    }

    .nameContainer {
        @include flex(column, center, center);

        input {
            width: 100%;
        }

        #lastName {
            margin-left: 0;
        }
    }
}

@media #{$smPhone} {

    header {
        .mainHeaderTitle {
            padding-bottom: 7rem;

        }

        .bottomHeaderContainer {
            display: none;
        }

    }

    .innerProjectScrollContainer {
        height: auto;
    }

    .aboutContainer {
        padding: 4rem 0 1rem 0;
    }

    .mainContactContainer {
        margin:2rem 0 4rem 0;
        text-align:center;
    }

    .aboutLeftContainer {
        margin-bottom: 4rem;
    }

    .scrollContainerMain {
        padding-top: 4rem;
    }

    .scrollContainerLeft {
        align-items: center;
    }

    .arrowDown {
        display: none;
    }

    .projectThreeWrapper {
        margin-bottom: 3rem;
    }
  
    form {
        box-shadow:none;
        width:100%;
        height: 32rem;
        margin-top: 2rem;
}

@media only screen and (max-height: 700px) {
header {
    .mainHeaderTitle {
        padding-bottom:7rem;

    }

    .bottomHeaderContainer {
        display:none;
    }

}
    .innerProjectScrollContainer {
        height: auto;
    }

    .aboutContainer {
        padding: 4rem 0 1rem 0;
    }

    .aboutLeftContainer {
        margin-bottom:4rem;
    }

    .scrollContainerMain {
        padding-top:4rem;
    }

    .scrollContainerLeft {
        align-items:center;
    }

    .arrowDown {
        display:none;
    }

    .projectThreeWrapper {
        margin-bottom: 3rem;
    }

    .contactLeftContainer {
        margin-top: 2rem;
    }

    form {
        height: 32rem;
        margin-top: 2rem;
    }
    }
    
}


