.projectsContainer {
    height:100vh;
    width:100%;
    overflow:hidden;
    background-color:$secondaryColor;

   
  
     h2 {
         color: $colorLight;
         justify-self:flex-start;

         &:after {
             content: " ";
             background-color: white;
             height: 1px;
             display: block;
             margin-top: 7px;
             width: 150%;
             opacity: 0.5;
         }
     }
}

.projectIconContainer {
    @include flex(row, space-between, center);
}

object {
    width:95%;
    height:80vh;
    border-left: 0.5rem $accentColor solid;
    border-right: 0.5rem $accentColor solid;
    border-top:3rem $accentColor solid;
    border-bottom: 3.5rem $accentColor solid;
    transition: .9s all linear;
}

.addDesktop {
    width: 95%;
}

.addTablet {
    width: 60%;
}

.addMobile {
    width: 40%;

}

.innerProjectScrollContainer {
    @include flex(row, flex-start, center);
     flex-wrap: nowrap;
     overflow-x: auto;
     position:relative;
     scroll-behavior:smooth;

}
.bottomProjectContainer {
    height: 20%;
    width: 100%;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    margin:0 auto;


    .scrollDown {
       transform: 
        translateY(84px) 
        rotate(45deg);
    }

}

.sliderOneTitle{
    // opacity: 0;
    // transform: matrix(0.9, 0, 0, 0.9, 100, 0);
    // transition: .3s all linear;
    position: absolute;
    color: white;
    top: 35vh;
    left: 0;


}




    

.leftProjectContainer {
    width:50%;

    p {
        color:$colorLight;
    }
}

.rightProjectContainer {
    @include flex(column, flex-start, center);
    width: 70%;
    height: 100%;
}

.projectContainer {
    width: 100%;
    height:100%;
    @include flex(column, center, center);
    text-align:center;
   
}

.responsiveIcons {
    position:absolute;
    left: 40%;
    top: -7px;
    height: 10%;
    @include flex(row, center, center);
    font-size: 2rem;
    
    button {
        color: rgba($primaryColor,1);
        border: none;
        background-color:transparent;
        margin: 1rem;


        &:hover,
        &:focus {

            color:$colorLight;
        }
    }

}

.projectLinks {
    @include flex(row, flex-start, flex-start);
    position:absolute;
    bottom: 9px;

    a {
        border: 2px solid rgba($primaryColor, .6);
        padding: .25rem;
        background-color: transparent;
        color:$primaryColor;
        letter-spacing: 2;

        &:hover {
            border: 2px solid rgba($primaryColor, 1);
        }
    }

    & > a:nth-child(1) {
        margin-right: 1rem;
    }

    & > a:nth-child(2) {
        margin-left: 1rem;
    }


}

.innerProjectScrollContainer {
    height: 92vh;
    width: 100%;
    // overflow:scroll;
      display: flex;
      flex-wrap: nowrap;
      overflow-x: auto;

}

.bottomProjectContainer {
    width: 100%;
    height: 8vh;
    overflow: hidden;
    color: $colorLight;
    position: relative;
    
   
    a {
        @include flex(row, space-around, flex-end);
        height: 100%;
        width: 100%;
    }

    

    p {
        transform: translateY(50px);
        transition: .1s all linear;
        padding: 0;
        margin: 0;

        &:after {
            content: "";
            width: 2rem;
            height: 5px;
            background-color: $accentColor;
            display: block;
            transform: translateX(50px) translateY(-9px);
            transition: .1s all linear;
            transition-delay: .13s;
            z-index: -1;
        }
    }

    svg {
        height: 100%;
        fill: $colorLight;
        transition: .1s all linear;

    }

}

.bottomProjectContainer:hover svg {
    transform: translateY(10px);

}

.bottomProjectContainer:hover p {
    transform: translateY(-10px);
}

.bottomProjectContainer:hover p:after {
    transform: translateX(0) translateY(-9px);
}


.innerProjectScrollContainer::-webkit-scrollbar {
    display: none;
}

.scrollContainer {
    margin-left: 5%;
    position:relative;
    @include flex(row, center, center);
    width:100%;
    
}

.scrollContainerMain,
.scrollContainer
{
width:95%;
flex: 0 0 auto;

}



.goBack
{
    background-color:transparent;
    border:none;
    color: $colorLight;
    position:absolute;
    left:-3rem;
    transform:rotate(90deg);
    font-size: 3rem;

    svg {
    transform:rotate(180deg);
    fill: $accentColor;

}}



.scrollContainerMain {
    @include flex(row, center, center);
    height: 80%;

}

.projectOneInfo,
.projectOneImage,
.projectTwoInfo,
.projectTwoImage,
.projectThreeInfo,
.projectThreeImage {
    width: 50%;
    color:white;
    text-align:center;
}

.projectOneInfo,
.projectTwoInfo,
.projectThreeInfo{
    padding: 5px;

    p,
    a,
    button {
        font-size:1rem;
    }

    a,
    button {
        border: 2px solid rgba($colorLight, .6);
        background-color:transparent;
        color:$colorLight;
        padding: 5px;
        margin: 3px;

        &:hover {
              border: 2px solid rgba($colorLight, 1);
        }
    }

}

.arrowDown {

    a {
        background-color:transparent;
        border:none;
        overflow:hidden;
        
        &:after {
            content:"Scroll";
            transform:translateY(50px);
            color:$accentColor;
            transition: .2s transform linear;
            // transition: .2s color linear;
       
            
        }

        svg {
            transform:translateY(10px);
            transition: .2s transform linear;
        }

    }
}

.arrowDown a:hover {

    svg {
        transform:translateY(-50px);
    }

    &::after {
        transform:translateY(-25px);
        color:$colorLight;
    }

}

.arrowDown a {
    display: flex;
    flex-direction: column;
}
.projectOneInfo,
.projectThreeInfo {
    padding-right: 1rem;
    width:80%;
    text-align: left;
}

.projectTwoInfo {
    padding-left: 1rem;
    width: 80%;
    text-align:left;

}



.projectOneImage,
.projectTwoImage,
.projectThreeImage {
    height: 200px;
    overflow:hidden;
    border-left: 0.5rem solid $accentColor;
    border-right: 0.5rem solid $accentColor;
    border-bottom: 1rem solid $accentColor;
    border-top:1rem solid $accentColor; 
    margin-top:2rem;
    height:185px;

    img {
        width: 100%;
        object-fit: cover;
        min-height: 100%;
        
    }
}

.projectOneWrapper,
.projectThreeWrapper {
    @include flex(column, center,center);
    height: 100%;
    padding:5vh 0 5vh 0;
    border-top: 2px solid rgba($colorLight,0.6);
    border-bottom: 2px solid rgba($colorLight, 0.6);

}
.projectTwoWrapper {
    @include flex(column, center,center);
    margin: 1rem 0;
    width: 100%;
    height:100%;
    margin: 5vh 0 5vh 0;
}


.scrollContainerLeft {
    width: 40%;
    height: 100%;
    @include flex(column, center, flex-start);

}

.scrollContainerRight {
    width: 60%;
    height: 90%;
    @include flex(column, flex-start, center);
    overflow:scroll;
    scroll-behavior: smooth;
}


.scrollContainerOne {
    margin: 5% 5% 5% 0;
}

.scrollContainerTwo {
    margin: 5%;
}

.scrollContainerThree {
    margin: 5% 0 5% 5%;
}



.changeProjectButtons {
    @include flex(row, center, center);
    width: 100%;
    height:20%;

    button {
        margin: 10px;
        padding: 10px;
        border: 2px solid rgba($colorLight, .5);
        background: transparent;
        color:$colorLight;
    }
}

.activeProject {
    color: $accentColor;
    background-color: $accentColor;
}

.projectsInfoNav {
     @include flex(row-reverse, flex-start, center);

     p {
         color: $colorLight;
     }

    button {
         background-color: $colorLight;
         border: none;
         border-radius: 100%;
         padding: 8px;
         width: 45px;
         height: 45px;
         margin-left: 10px;
         color: $accentColor;
         transition: .05s all linear;
         text-align: center;
         margin-right:1rem;
         
    }   
}