.projectsContainer {
    height:100vh;
    width:100%;
    overflow:hidden;
    background-color:$secondaryColor;

   
  
     h2 {
         color: $colorLight;
         justify-self:flex-start;

         &:after {
             content: " ";
             background-color: white;
             height: 2px;
             display: block;
             margin-top: 7px;
             width: 400px;
             opacity: 0.5;
         }
     }
}

object {
    width:100%;
    height:80vh;
    border-left: 1rem $accentColor solid;
    border-right: 1rem $accentColor solid;
    border-top:2.5rem $accentColor solid;
    border-bottom: 2.5rem $accentColor solid;
    border-radius: 10px;
}

.innerProjectScrollContainer {
    @include flex(row, flex-start, center);
     flex-wrap: nowrap;
     overflow-x: auto;
     position:relative;
     scroll-behavior:smooth;

}
.bottomProjectContainer {
    height: 20%;
    width: 100%;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    margin:0 auto;


    .scrollDown {
       transform: 
        translateY(84px) 
        rotate(45deg);
    }

}

.sliderOneTitle{
    // opacity: 0;
    // transform: matrix(0.9, 0, 0, 0.9, 100, 0);
    // transition: .3s all linear;
    position: absolute;
    color: white;
    top: 35vh;
    left: 0;


}




    

.leftProjectContainer {
    width:50%;

    p {
        color:$colorLight;
    }
}

.rightProjectContainer {
    @include flex(column, flex-start, center);
    width: 70%;
    height: 100%;
}

.projectContainer {
    width: 100%;
    height:100%;
    @include flex(column, center, center);
    text-align:center;
   
}

.responsiveIcons {
    position:absolute;
    left: 40%;
    top: -7px;
    height: 10%;
    @include flex(row, center, center);
    font-size: 2rem;
    
    button {
        color: rgba($colorLight,0.6);
        border: none;
        background-color:transparent;
        margin: 1rem;


        &:hover,
        &:focus {

            color:$accentColor;
        }
    }

}

.innerProjectScrollContainer {
    height: 100vh;
    width: 100%;
    // overflow:scroll;
      display: flex;
      flex-wrap: nowrap;
      overflow-x: auto;

}

.innerProjectScrollContainer::-webkit-scrollbar {
    display: none;
}

.scrollContainer {
    margin-left: 5%;
    position:relative;
    @include flex(row, center, center);
    
}

.scrollContainerMain,
.scrollContainer
{
width:95%;
flex: 0 0 auto;

}

.goBack
{
    background-color:transparent;
    border:none;
    color: $colorLight;
    position:absolute;
    left:-3rem;
    transform:rotate(90deg);
    font-size: 3rem;

    svg {
    transform:rotate(180deg);
    fill: $accentColor;

}}



.scrollContainerMain {
    @include flex(row, center, center);
    height: 80%;

}

.projectOneInfo,
.projectOneImage,
.projectTwoInfo,
.projectTwoImage,
.projectThreeInfo,
.projectThreeImage {
    width: 50%;
    color:white;
    text-align:center;
}

.projectOneInfo,
.projectTwoInfo,
.projectThreeInfo{
    padding: 5px;

    p,
    a,
    button {
        font-size:1rem;
    }

    a,
    button {
        border: 2px solid rgba($colorLight, .6);
        background-color:transparent;
        border-radius: 8px;
        color:$colorLight;
        padding: 5px;
        margin: 3px;

        &:hover {
              border: 2px solid rgba($colorLight, 1);
        }
    }

    h4 {
        border-bottom: 2px solid $accentColor;
    }
  
}

.projectOneInfo,
.projectThreeInfo {
    padding-right: 1rem;
    h4 {
       text-align: right;

    }
}

.projectTwoInfo {
    padding-left: 1rem;
      h4 {
          text-align:left;
      }
}


.projectOneImage,
.projectTwoImage,
.projectThreeImage {
    border-radius: 10px;
    height: 200px;
    overflow:hidden;
    border-left: 0.5rem solid $accentColor;
    border-right: 0.5rem solid $accentColor;
    border-bottom: 1.5rem solid $accentColor;
    border-top:1.5rem solid $accentColor; 

    img {
        width: 100%;
        object-fit: cover;
        
    }
}

.projectOneWrapper,
.projectThreeWrapper {
    @include flex(row, center,center);
}
.projectTwoWrapper {
    @include flex(row-reverse, center,center);
    margin: 1rem 0;
}


.scrollContainerLeft {
    width: 50%;
    height: 100%;
    @include flex(column, center, flex-start);

}

.scrollContainerRight {
    width: 50%;
    height: 100%;
    @include flex(column, space-evenly, center);
}


.scrollContainerOne {
    margin: 5% 5% 5% 0;
}

.scrollContainerTwo {
    margin: 5%;
}

.scrollContainerThree {
    margin: 5% 0 5% 5%;
}



.changeProjectButtons {
    @include flex(row, center, center);
    width: 100%;
    height:20%;

    button {
        margin: 10px;
        padding: 10px;
        border: 2px solid rgba($colorLight, .5);
        background: transparent;
        color:$colorLight;
    }
}

.activeProject {
    color: $accentColor;
    background-color: $accentColor;
}