// COLORS
$primaryColor: rgb(29, 29, 29);
$secondaryColor: rgba(39, 39, 39, 1);
$colorLight:rgba(255, 253, 246, 1);
$colorDark: rgba(0, 0, 0, 1);
$accentColor:rgba(101, 173, 145, 1);



// FONTS
$primaryFont: 'Montserrat', sans-serif;

$secondaryFont: 'Poppins', sans-serif;

$accentFont: 'Raleway', sans-serif;

// MIXINS

@mixin flex($direction, $justify, $align) {
    display:flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items:$align;
}

@mixin font($fontFamily, $fontWeight) {
    font-family:$fontFamily;
    font-weight: $fontWeight;
}

$lgDesktop: "only screen and (max-width: 1600px)";
$medDesktop: "only screen and (max-width: 1440px)";
$smDesktop: "only screen and (max-width: 1280px)";
$lgTablet: "only screen and (max-width: 900px)";
$medTablet: "only screen and (max-width: 800px)";
$smTablet: "only screen and (max-width: 750px)";
$lgPhone: "only screen and (max-width: 650px)";
$medPhone: "only screen and (max-width: 550px)";
$smPhone: "only screen and (max-width: 400px)"; 


