// COLORS
$primaryColor: rgb(29, 29, 29);
$secondaryColor: rgba(39, 39, 39, 1);
$colorLight:rgba(255, 253, 246, 1);
$colorDark: rgba(0, 0, 0, 1);
$accentColor:rgba(101, 173, 145, 1);



// FONTS
$primaryFont: 'Montserrat', sans-serif;

$secondaryFont: 'Poppins', sans-serif;

$accentFont: 'Raleway', sans-serif;

// MIXINS

@mixin flex($direction, $justify, $align) {
    display:flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items:$align;
}

@mixin font($fontFamily, $fontWeight) {
    font-family:$fontFamily;
    font-weight: $fontWeight;
}


