article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button,
input {
  line-height: normal;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

input[type=checkbox],
input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body,
figure {
  margin: 0;
}

legend,
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

body {
  font-size: 125%;
  font-family: "Montserrat", sans-serif;
  background-color: #1d1d1d;
}

ul,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

h4 {
  letter-spacing: 1.4px;
  padding-bottom: 5px;
}

h6 {
  letter-spacing: 1.1px;
}

p {
  font-size: 1rem;
  line-height: 1.7rem;
  letter-spacing: 1.5px;
}

a {
  text-decoration: none;
  color: #fffdf6;
}

h2 {
  color: #fffdf6;
}

img {
  display: block;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.addAccent {
  color: #65ad91;
}

.addWhite {
  color: #fffdf6;
}

.scrollDown {
  border: 2px solid rgba(255, 253, 246, 0.4);
  width: 4rem;
  height: 4rem;
  border-radius: 12px;
  -webkit-transform: rotate(45deg) translate(50px);
          transform: rotate(45deg) translate(50px);
  margin: 0 auto;
  background-color: transparent;
  -webkit-transition: .07s all linear;
  transition: .07s all linear;
}

.scrollDown i {
  -webkit-transform: rotate(-44deg) translateY(-25px);
          transform: rotate(-44deg) translateY(-25px);
  -webkit-animation: chevronJiggle .9s linear infinite;
          animation: chevronJiggle .9s linear infinite;
  color: #fffdf6;
}

.scrollDown:hover, .scrollDown:focus {
  border: 2px solid #fffdf6;
}

.rightTitle {
  position: relative;
  width: 8%;
  height: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: fixed;
  right: 0;
}

.pageLines {
  width: 5rem;
  height: 2px;
  background-color: #65ad91;
  display: block;
  margin: 20px 0;
  position: relative;
  border-bottom: 2px solid #fffdf6;
}

.pageLines:before {
  content: "";
  color: #65ad91;
  -webkit-transform: translate(50px);
          transform: translate(50px);
  position: absolute;
  right: 50px;
  top: -25px;
}

.pageLineActive {
  width: 7rem;
  border-bottom: #65ad91;
}

header {
  height: 100vh;
  background-color: #272727;
}

header .mainHeaderNav {
  height: 18vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .mainHeaderTitle {
  height: 73vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateY(-10%);
          transform: translateY(-10%);
}

.headerLogo {
  width: 15%;
}

.headerLogo svg {
  fill: #fffdf6;
  -webkit-transform: translate(-3.5rem);
          transform: translate(-3.5rem);
}

.mainNav {
  width: 4rem;
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1d1d1d;
  z-index: 1000;
  border-radius: 20px;
  position: fixed;
  right: 2rem;
  top: 2rem;
}

.mainNav .hamburgerNav {
  height: 3px;
  width: 2rem;
  background-color: #65ad91;
  -webkit-transition: 0.09s all linear;
  transition: 0.09s all linear;
}

.mainNav .hamburgerNav:after, .mainNav .hamburgerNav:before {
  content: '';
  height: 3px;
  background-color: #fffdf6;
  display: block;
  -webkit-transition: 0.09s all linear;
  transition: 0.09s all linear;
}

.mainNav .hamburgerNav:after {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
  width: 70%;
}

.mainNav .hamburgerNav:before {
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
  width: 80%;
}

.mainNav .hamburgerNav:hover {
  width: 2.5rem;
}

.mainNav:hover .hamburgerNav:before,
.mainNav:hover .hamburgerNav,
.mainNav:hover .hamburgerNav:after {
  width: 2.5rem;
}

.mainNav:hover .hamburgerNav:before {
  -webkit-transform: translateY(-13px);
          transform: translateY(-13px);
}

.mainNav:hover .hamburgerNav:after {
  -webkit-transform: translateY(calc(7px + 3px));
          transform: translateY(calc(7px + 3px));
}

.mainNav:active .hamburgerNav {
  opacity: 0;
}

.leftTitle {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 100%;
}

.leftTitle h1 {
  color: #fffdf6;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  padding-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 4rem;
  text-shadow: 3px 3px 0px #65ad91;
}

.leftTitle h1 .addAccent {
  text-shadow: 3px 3px 0px #fffdf6;
}

.leftTitle h1 .underline {
  border-bottom: 1px solid white;
}

.leftTitle h1:after {
  content: " ";
  background-color: white;
  height: 1px;
  display: block;
  margin-top: 7px;
  width: 110%;
  opacity: 0.5;
}

.leftTitle h3 {
  font-family: "Raleway", sans-serif;
  color: #fffdf6;
}

.leftTitle p {
  color: #fffdf6;
}

.leftTitle button {
  background-color: #fffdf6;
  border: none;
  border-radius: 100%;
  padding: 8px;
  width: 45px;
  height: 45px;
  margin-right: 10px;
  color: #65ad91;
  -webkit-transition: .05s all linear;
  transition: .05s all linear;
  text-align: center;
}

.leftTitle button:hover {
  background-color: #65ad91;
  color: #fffdf6;
}

.leftTitle .leftTitleNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bottomHeaderContainer {
  width: 100%;
  height: 8vh;
  overflow: hidden;
  color: #fffdf6;
  position: relative;
}

.bottomHeaderContainer a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 100%;
  width: 100%;
}

.bottomHeaderContainer p {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  -webkit-transition: .1s all linear;
  transition: .1s all linear;
  padding: 0;
  margin: 0;
}

.bottomHeaderContainer p:after {
  content: "";
  width: 2rem;
  height: 5px;
  background-color: #65ad91;
  display: block;
  -webkit-transform: translateX(50px) translateY(-9px);
          transform: translateX(50px) translateY(-9px);
  -webkit-transition: .1s all linear;
  transition: .1s all linear;
  -webkit-transition-delay: .13s;
          transition-delay: .13s;
  z-index: -1;
}

.bottomHeaderContainer svg {
  height: 100%;
  fill: #fffdf6;
  fill-opacity: 0.6;
  -webkit-transition: .1s all linear;
  transition: .1s all linear;
}

.bottomHeaderContainer:hover svg {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  opacity: 1;
}

.bottomHeaderContainer:hover p {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.bottomHeaderContainer:hover p:after {
  -webkit-transform: translateX(0) translateY(-9px);
          transform: translateX(0) translateY(-9px);
}

@-webkit-keyframes chevronJiggle {
  0% {
    -webkit-transform: rotate(-44deg) translateY(-20px);
            transform: rotate(-44deg) translateY(-20px);
  }
  25% {
    -webkit-transform: rotate(-44deg) translateY(-22px);
            transform: rotate(-44deg) translateY(-22px);
  }
  50% {
    -webkit-transform: rotate(-44deg) translateY(-20px);
            transform: rotate(-44deg) translateY(-20px);
  }
  75% {
    -webkit-transform: rotate(-44deg) translateY(-18px) scale(1.03);
            transform: rotate(-44deg) translateY(-18px) scale(1.03);
  }
  100% {
    -webkit-transform: rotate(-44deg) translateY(-20px);
            transform: rotate(-44deg) translateY(-20px);
  }
}

@keyframes chevronJiggle {
  0% {
    -webkit-transform: rotate(-44deg) translateY(-20px);
            transform: rotate(-44deg) translateY(-20px);
  }
  25% {
    -webkit-transform: rotate(-44deg) translateY(-22px);
            transform: rotate(-44deg) translateY(-22px);
  }
  50% {
    -webkit-transform: rotate(-44deg) translateY(-20px);
            transform: rotate(-44deg) translateY(-20px);
  }
  75% {
    -webkit-transform: rotate(-44deg) translateY(-18px) scale(1.03);
            transform: rotate(-44deg) translateY(-18px) scale(1.03);
  }
  100% {
    -webkit-transform: rotate(-44deg) translateY(-20px);
            transform: rotate(-44deg) translateY(-20px);
  }
}

.headerNav {
  color: white;
  top: 0;
  right: 0;
  border-left: 6px solid #65ad91;
  background-color: #272727;
  margin: 0 auto;
  text-align: center;
  height: 100vh;
  opacity: 0;
  padding-top: 8vh;
  position: fixed;
}

.headerNav ul {
  list-style: none;
}

.homeLink,
.aboutLink,
.skillsLink,
.projectsLink,
.contactLink {
  padding: .5rem 0;
  margin: 2rem 2rem;
  position: relative;
}

.homeLink:before,
.aboutLink:before,
.skillsLink:before,
.projectsLink:before,
.contactLink:before {
  content: "";
  display: block;
  position: absolute;
  left: 51%;
  right: 51%;
  background: #65ad91;
  height: 10px;
  width: 0%;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  z-index: -1;
}

.homeLink:hover::before, .homeLink:focus::before {
  left: 85px;
  right: 0;
  top: 25px;
  width: 35%;
}

.aboutLink:hover::before, .aboutLink:focus::before {
  left: 85px;
  right: 0;
  top: 25px;
  width: 35%;
}

.skillsLink:hover::before, .skillsLink:focus::before {
  left: 85px;
  right: 0;
  top: 25px;
  width: 35%;
}

.projectsLink:hover::before, .projectsLink:focus::before {
  left: 85px;
  right: 0;
  top: 25px;
  width: 35%;
}

.contactLink:hover::before, .contactLink:focus::before {
  left: 85px;
  right: 0;
  top: 25px;
  width: 35%;
}

.navBarButton {
  width: 3rem;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.navBarButton:hover .navBar:after {
  content: "Exit";
  -webkit-transform: rotate(0deg) translateY(-20px);
          transform: rotate(0deg) translateY(-20px);
  background: transparent;
  font-size: 1rem;
  color: #fffdf6;
}

.navBarButton:hover .navBar:before {
  -webkit-transform: rotate(0deg) translateY(3px);
          transform: rotate(0deg) translateY(3px);
  background-color: none;
  height: 10px;
  width: 1.5rem;
}

.navBar {
  width: 0;
  background-color: #65ad91;
  -webkit-transform: translateX(-19px);
          transform: translateX(-19px);
}

.navBar:before, .navBar:after {
  content: "";
  display: block;
  width: 2.5rem;
  height: 3px;
  background-color: #65ad91;
}

.navBar:after {
  -webkit-transform: rotate(45deg) translateX(-1px);
          transform: rotate(45deg) translateX(-1px);
  -webkit-transition: .1s all linear;
  transition: .1s all linear;
}

.navBar:before {
  -webkit-transform: rotate(-45deg) translateX(-1px);
          transform: rotate(-45deg) translateX(-1px);
  -webkit-transition: .1s all linear;
  transition: .1s all linear;
}

@-webkit-keyframes navMenuFadeIn {
  from {
    right: 50px;
  }
  to {
    right: 0;
  }
}

@keyframes navMenuFadeIn {
  from {
    right: 50px;
  }
  to {
    right: 0;
  }
}

.aboutContainer {
  height: 100vh;
  color: #fffdf6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: hidden;
}

.aboutRightInfo {
  width: 70%;
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: right;
}

.aboutRightInfo h2:after {
  content: " ";
  background-color: white;
  height: 1px;
  display: block;
  margin-top: 7px;
  width: 400px;
  opacity: 0.5;
}

.aboutRightInfo p {
  width: 80%;
  font-weight: 300;
  font-size: 1rem;
}

.aboutRightInfo .afterMe {
  position: relative;
}

.aboutInfoNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aboutInfoNav button {
  background-color: #fffdf6;
  border: none;
  border-radius: 100%;
  padding: 8px;
  width: 45px;
  height: 45px;
  margin-left: 10px;
  color: #65ad91;
  -webkit-transition: .05s all linear;
  transition: .05s all linear;
  text-align: center;
}

.aboutInfoNav button:hover {
  background-color: #65ad91;
  color: #fffdf6;
}

.aboutLeftContainer {
  width: 30%;
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aboutLeftContainer .headshotContainer {
  width: 100%;
  margin: 0 auto;
}

.aboutLeftContainer .headshotContainer img {
  width: 100%;
  -webkit-box-shadow: 8px 8px 0px 1px #65ad91;
          box-shadow: 8px 8px 0px 1px #65ad91;
}

.bottomAboutContainer {
  width: 100%;
  height: 8vh;
  overflow: hidden;
  color: #fffdf6;
  position: relative;
}

.bottomAboutContainer a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 100%;
  width: 100%;
}

.bottomAboutContainer p {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  -webkit-transition: .1s all linear;
  transition: .1s all linear;
  padding: 0;
  margin: 0;
}

.bottomAboutContainer p:after {
  content: "";
  width: 2rem;
  height: 5px;
  background-color: #65ad91;
  display: block;
  -webkit-transform: translateX(50px) translateY(-9px);
          transform: translateX(50px) translateY(-9px);
  -webkit-transition: .1s all linear;
  transition: .1s all linear;
  -webkit-transition-delay: .13s;
          transition-delay: .13s;
  z-index: -1;
}

.bottomAboutContainer svg {
  height: 100%;
  fill: #fffdf6;
  opacity: 0.6;
  -webkit-transition: .1s all linear;
  transition: .1s all linear;
}

.bottomAboutContainer:hover svg {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  opacity: 1;
}

.bottomAboutContainer:hover p {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.bottomAboutContainer:hover p:after {
  -webkit-transform: translateX(0) translateY(-9px);
          transform: translateX(0) translateY(-9px);
}

.educationContainer {
  height: 100vh;
  background-color: #65ad91;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: hidden;
}

.innerEducationContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 92%;
  -webkit-transform: translateY(2vh);
          transform: translateY(2vh);
}

.educationLeftInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 50%;
  height: 100%;
  color: #fffdf6;
}

.educationLeftInfo h2 {
  color: #1d1d1d;
}

.educationLeftInfo h2:after {
  content: " ";
  background-color: white;
  height: 1px;
  display: block;
  margin-top: 7px;
  width: 400px;
  opacity: 0.5;
}

.educationRightIconGallery {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
}

.iconContainer {
  width: calc(25% - 20px);
  margin: 10px;
  text-align: center;
}

.iconContainer p {
  -webkit-transition: .09s all linear;
  transition: .09s all linear;
}

.iconContainer p:before {
  content: "";
  background-color: #1d1d1d;
  width: 100%;
  height: 2px;
  display: block;
  -webkit-transition: .09s all linear;
  transition: .09s all linear;
}

.iconContainer svg {
  width: 60%;
  fill: #1d1d1d;
}

.iconContainer:hover p:before {
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
}

.iconContainer:hover p {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

.bottomEducationContainer {
  width: 100%;
  height: 8vh;
  overflow: hidden;
  color: #fffdf6;
  position: relative;
}

.bottomEducationContainer a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  height: 100%;
}

.bottomEducationContainer p {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  -webkit-transition: .1s all linear;
  transition: .1s all linear;
  padding: 0;
  margin: 0;
}

.bottomEducationContainer p:after {
  content: "";
  width: 2rem;
  height: 5px;
  background-color: #1d1d1d;
  display: block;
  -webkit-transform: translateX(50px) translateY(-9px);
          transform: translateX(50px) translateY(-9px);
  -webkit-transition: .1s all linear;
  transition: .1s all linear;
  -webkit-transition-delay: .13s;
          transition-delay: .13s;
  z-index: -1;
}

.bottomEducationContainer svg {
  height: 100%;
  fill: #fffdf6;
  -webkit-transition: .1s all linear;
  transition: .1s all linear;
}

.bottomEducationContainer:hover svg {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

.bottomEducationContainer:hover p {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.bottomEducationContainer:hover p:after {
  -webkit-transform: translateX(0) translateY(-9px);
          transform: translateX(0) translateY(-9px);
}

.educationInfoNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.educationInfoNav p {
  color: #272727;
}

.educationInfoNav button {
  background-color: #fffdf6;
  border: none;
  border-radius: 100%;
  padding: 8px;
  width: 45px;
  height: 45px;
  color: #65ad91;
  -webkit-transition: .05s all linear;
  transition: .05s all linear;
  text-align: center;
  margin-right: 1rem;
  font-size: 1rem;
}

.projectsContainer {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-color: #272727;
}

.projectsContainer h2 {
  color: #fffdf6;
  justify-self: flex-start;
}

.projectsContainer h2:after {
  content: " ";
  background-color: white;
  height: 1px;
  display: block;
  margin-top: 7px;
  width: 150%;
  opacity: 0.5;
}

.projectIconContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

object {
  width: 95%;
  height: 80vh;
  border-left: 0.5rem #65ad91 solid;
  border-right: 0.5rem #65ad91 solid;
  border-top: 3rem #65ad91 solid;
  border-bottom: 3.5rem #65ad91 solid;
  -webkit-transition: .9s all linear;
  transition: .9s all linear;
}

.addDesktop {
  width: 95%;
}

.addTablet {
  width: 60%;
}

.addMobile {
  width: 40%;
}

.innerProjectScrollContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow-x: auto;
  position: relative;
  scroll-behavior: smooth;
}

.bottomProjectContainer {
  height: 20%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.bottomProjectContainer .scrollDown {
  -webkit-transform: translateY(84px) rotate(45deg);
          transform: translateY(84px) rotate(45deg);
}

.sliderOneTitle {
  position: absolute;
  color: white;
  top: 35vh;
  left: 0;
}

.leftProjectContainer {
  width: 50%;
}

.leftProjectContainer p {
  color: #fffdf6;
}

.rightProjectContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
  height: 100%;
}

.projectContainer {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.responsiveIcons {
  position: absolute;
  left: 40%;
  top: -7px;
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
}

.responsiveIcons button {
  color: #1d1d1d;
  border: none;
  background-color: transparent;
  margin: 1rem;
}

.responsiveIcons button:hover, .responsiveIcons button:focus {
  color: #fffdf6;
}

.projectLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: absolute;
  bottom: 9px;
}

.projectLinks a {
  border: 2px solid rgba(29, 29, 29, 0.6);
  padding: .25rem;
  background-color: transparent;
  color: #1d1d1d;
  letter-spacing: 2;
}

.projectLinks a:hover {
  border: 2px solid #1d1d1d;
}

.projectLinks > a:nth-child(1) {
  margin-right: 1rem;
}

.projectLinks > a:nth-child(2) {
  margin-left: 1rem;
}

.innerProjectScrollContainer {
  height: 92vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow-x: auto;
}

.bottomProjectContainer {
  width: 100%;
  height: 8vh;
  overflow: hidden;
  color: #fffdf6;
  position: relative;
}

.bottomProjectContainer a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 100%;
  width: 100%;
}

.bottomProjectContainer p {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  -webkit-transition: .1s all linear;
  transition: .1s all linear;
  padding: 0;
  margin: 0;
}

.bottomProjectContainer p:after {
  content: "";
  width: 2rem;
  height: 5px;
  background-color: #65ad91;
  display: block;
  -webkit-transform: translateX(50px) translateY(-9px);
          transform: translateX(50px) translateY(-9px);
  -webkit-transition: .1s all linear;
  transition: .1s all linear;
  -webkit-transition-delay: .13s;
          transition-delay: .13s;
  z-index: -1;
}

.bottomProjectContainer svg {
  height: 100%;
  fill: #fffdf6;
  -webkit-transition: .1s all linear;
  transition: .1s all linear;
}

.bottomProjectContainer:hover svg {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

.bottomProjectContainer:hover p {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.bottomProjectContainer:hover p:after {
  -webkit-transform: translateX(0) translateY(-9px);
          transform: translateX(0) translateY(-9px);
}

.innerProjectScrollContainer::-webkit-scrollbar {
  display: none;
}

.scrollContainer {
  margin-left: 5%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.scrollContainerMain,
.scrollContainer {
  width: 95%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.goBack {
  background-color: transparent;
  border: none;
  color: #fffdf6;
  position: absolute;
  left: -3rem;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  font-size: 3rem;
}

.goBack svg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  fill: #65ad91;
}

.scrollContainerMain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80%;
}

.projectOneInfo,
.projectOneImage,
.projectTwoInfo,
.projectTwoImage,
.projectThreeInfo,
.projectThreeImage {
  width: 50%;
  color: white;
  text-align: center;
}

.projectOneInfo,
.projectTwoInfo,
.projectThreeInfo {
  padding: 5px;
  margin-top: 1rem;
}

.projectOneInfo p,
.projectOneInfo a,
.projectOneInfo button,
.projectTwoInfo p,
.projectTwoInfo a,
.projectTwoInfo button,
.projectThreeInfo p,
.projectThreeInfo a,
.projectThreeInfo button {
  font-size: 1rem;
}

.projectOneInfo a,
.projectOneInfo button,
.projectTwoInfo a,
.projectTwoInfo button,
.projectThreeInfo a,
.projectThreeInfo button {
  border: 2px solid rgba(255, 253, 246, 0.6);
  background-color: transparent;
  color: #fffdf6;
  padding: 5px;
  margin: 3px;
}

.projectOneInfo a:hover,
.projectOneInfo button:hover,
.projectTwoInfo a:hover,
.projectTwoInfo button:hover,
.projectThreeInfo a:hover,
.projectThreeInfo button:hover {
  border: 2px solid #fffdf6;
}

.arrowDown {
  width: 20%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.arrowDown a {
  background-color: transparent;
  border: none;
  overflow: hidden;
}

.arrowDown a:after {
  content: "Scroll";
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  color: #65ad91;
  -webkit-transition: .2s transform linear;
  transition: .2s transform linear;
}

.arrowDown a svg {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  -webkit-transition: .2s transform linear;
  transition: .2s transform linear;
}

.arrowDown a:hover svg {
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
}

.arrowDown a:hover::after {
  -webkit-transform: translateY(-25px);
          transform: translateY(-25px);
  color: #fffdf6;
}

.arrowDown a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.projectOneInfo,
.projectThreeInfo {
  padding-right: 1rem;
  width: 80%;
  text-align: left;
}

.projectTwoInfo {
  padding-left: 1rem;
  width: 80%;
  text-align: left;
}

.projectOneImage,
.projectTwoImage,
.projectThreeImage {
  min-height: 200px;
  overflow: hidden;
  border-left: 0.5rem solid #65ad91;
  border-right: 0.5rem solid #65ad91;
  border-bottom: 1rem solid #65ad91;
  border-top: 1rem solid #65ad91;
  margin-top: 2rem;
}

.projectOneImage img,
.projectTwoImage img,
.projectThreeImage img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  min-height: 100%;
}

.projectOneWrapper,
.projectThreeWrapper {
  height: 100%;
  width: 100%;
  padding: 5vh 0 5vh 0;
  border-top: 2px solid rgba(255, 253, 246, 0.6);
  border-bottom: 2px solid rgba(255, 253, 246, 0.6);
}

.projectOneImage img,
.projectTwoImage img,
.projectThreeImage img {
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 185px;
  -o-object-position: top;
     object-position: top;
}

.projectOneImage,
.projectTwoImage,
.projectThreeImage {
  margin: 0 auto;
}

.projectTwoWrapper {
  margin: 1rem 0;
  width: 100%;
  height: 100%;
  margin: 5vh 0 5vh 0;
}

.scrollContainerLeft {
  width: 40%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.scrollContainerRight {
  width: 60%;
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: scroll;
  scroll-behavior: smooth;
}

.scrollContainerOne {
  margin: 5% 5% 5% 0;
}

.scrollContainerTwo {
  margin: 5%;
}

.scrollContainerThree {
  margin: 5% 0 5% 5%;
}

.changeProjectButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 20%;
}

.changeProjectButtons button {
  margin: 10px;
  padding: 10px;
  border: 2px solid rgba(255, 253, 246, 0.5);
  background: transparent;
  color: #fffdf6;
}

.activeProject {
  color: #65ad91;
  background-color: #65ad91;
}

.projectsInfoNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projectsInfoNav p {
  color: #fffdf6;
}

.projectsInfoNav button {
  background-color: #fffdf6;
  border: none;
  border-radius: 100%;
  padding: 8px;
  width: 45px;
  height: 45px;
  margin-left: 10px;
  color: #65ad91;
  -webkit-transition: .05s all linear;
  transition: .05s all linear;
  text-align: center;
  margin-right: 1rem;
}

.contactContainer {
  height: 100vh;
  width: 100%;
  background-color: #1d1d1d;
}

.contactContainer h2 {
  color: #fffdf6;
}

.contactContainer h2:after {
  content: " ";
  background-color: white;
  height: 1px;
  display: block;
  margin-top: 7px;
  width: 400px;
  opacity: 0.5;
}

.mainContactContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.contactLeftContainer {
  width: 40%;
}

.contactRightContainer {
  width: 60%;
}

.socialMediaIconContainer {
  padding-top: 1rem;
}

.socialMediaIconContainer i {
  font-size: 2rem;
  color: #fffdf6;
  padding: 10px;
  -webkit-transition: .1 all linear;
  transition: .1 all linear;
}

.socialMediaIconContainer i:hover, .socialMediaIconContainer i:focus {
  color: #65ad91;
}

.nameContainer input::-webkit-input-placeholder {
  color: black;
}

.nameContainer input:-ms-input-placeholder {
  color: black;
}

.nameContainer input::-ms-input-placeholder {
  color: black;
}

.nameContainer input::placeholder {
  color: black;
}

form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #65ad91;
  padding: 2rem;
  -webkit-box-shadow: -8px 8px 0px 2px #fffdf6;
          box-shadow: -8px 8px 0px 2px #fffdf6;
}

form button {
  background-color: transparent;
  border: 2px solid rgba(60, 112, 92, 0.5);
  -webkit-transition: .09s all linear;
  transition: .09s all linear;
  margin-top: 1rem;
  color: #436558;
  padding: 10px;
}

form button:hover, form button:focus {
  border: 2px solid #3c705c;
  background-color: #76b69d;
}

.nameContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nameContainer input {
  width: 90%;
  color: #1d1d1d;
}

.nameContainer #lastName {
  margin-left: 10%;
}

.js-float-label-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  margin: 0 auto;
}

.js-float-label-wrapper input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid rgba(60, 112, 92, 0.5);
  -webkit-transition: .09s all linear;
  transition: .09s all linear;
}

.js-float-label-wrapper input:focus {
  border-bottom: 2px solid #33604e;
}

.js-float-label-wrapper input:placeholder-shown + label {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
}

.js-float-label-wrapper label {
  -webkit-transition: .1s all linear;
  transition: .1s all linear;
  font-size: 0.8rem;
}

textarea {
  background-color: transparent;
  border: 2px solid rgba(60, 112, 92, 0.5);
  -webkit-transition: .09s all linear;
  transition: .09s all linear;
}

textarea:focus {
  background-color: #76b69d;
  border: 2px solid #3c705c;
}

@media only screen and (max-width: 1280px) {
  .headerContainer {
    margin-left: 4rem;
  }
  .headerLogo {
    width: 24%;
    -webkit-transform: translate(-6rem);
            transform: translate(-6rem);
    margin-left: 4rem;
  }
  .iconContainer p {
    display: none;
  }
  .aboutContainer,
  .innerEducationContainer,
  .mainContactContainer {
    margin: 0 4%;
  }
  .contactContainer h2:after {
    width: 65%;
  }
  .educationLeftInfo h2:after {
    width: 150%;
  }
}

@media only screen and (max-width: 900px) {
  .headerlogo {
    -webkit-transform: translate(-1rem);
            transform: translate(-1rem);
    margin-left: 5.5rem;
  }
  .aboutContainer {
    margin: 0 2rem;
  }
}

@media only screen and (max-width: 750px) {
  .headerLogo {
    width: 33%;
    margin-left: 5rem;
  }
}

@media only screen and (max-width: 650px) {
  .headerLogo {
    width: 46%;
  }
  .mainContactContainer {
    margin: 2rem 0 4rem 0;
    text-align: center;
  }
  .contactLeftContainer {
    padding-bottom: 2rem;
  }
  .aboutRightInfo p {
    line-height: 1.5rem;
    text-align: left;
  }
}

@media only screen and (max-width: 400px) {
  header {
    text-align: center;
  }
  header .mainHeaderNav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .headerLogo {
    display: none;
  }
  .headerContainer {
    margin-left: 1rem;
  }
  .leftTitle {
    width: 90%;
  }
  .leftTitle .leftTitleNav {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .leftTitle .leftTitleNav p {
    display: none;
  }
  .leftTitle h1:after {
    display: none;
  }
  .bottomHeaderContainer .scrollDown {
    display: none;
  }
}

@media only screen and (max-width: 650px) {
  .aboutContainer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 4rem 0;
    height: auto;
    margin: 0 auto;
  }
  .aboutRightInfo {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 2rem;
  }
  .aboutRightInfo h2 {
    margin-top: 2rem;
  }
  .aboutRightInfo h2::after {
    display: none;
  }
  .aboutLeftContainer {
    width: 90%;
  }
  .aboutLeftContainer .headshotContainer img {
    width: 70%;
    margin: 0 auto;
  }
  .aboutInfoNav p {
    display: none;
  }
}

@media only screen and (max-width: 750px) {
  .innerEducationContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .educationLeftInfo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 90%;
    height: 40%;
    text-align: center;
  }
  .educationLeftInfo h2::after {
    display: none;
  }
  .educationRightIconGallery {
    width: 100%;
  }
  .iconContainer {
    width: calc(25% - 20px);
  }
}

@media only screen and (max-width: 750px) {
  .projectsContainer {
    height: auto;
    padding: 4rem 0;
    text-align: center;
  }
  .projectsContainer h2 {
    margin-bottom: 2rem;
  }
  .projectsContainer h2:after {
    display: none;
  }
  .scrollContainerMain {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .scrollContainerRight,
  .scrollContainerLeft {
    width: 100%;
  }
  .scrollContainerLeft {
    height: 10%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .projectsContainer {
    padding: 0 0;
  }
  .scrollContainerRight {
    -webkit-box-pack: normal;
        -ms-flex-pack: normal;
            justify-content: normal;
  }
  .projectOneInfo,
  .projectTwoInfo,
  .projectThreeInfo {
    width: 90%;
  }
  .projectOneImage,
  .projectTwoImage,
  .projectThreeImage {
    width: 50%;
    margin: 1rem auto;
  }
  .responsiveIcons {
    left: 25%;
  }
  .bottomAboutContainer,
  .bottomEducationContainer,
  .bottomProjectContainer,
  .bottomHeaderContainer {
    display: none;
  }
}

@media only screen and (max-width: 650px) {
  .contactContainer {
    height: auto;
  }
  .contactContainer h2::after {
    display: none;
  }
  .mainContactContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contactLeftContainer {
    width: 100%;
  }
  .contactRightContainer {
    width: 90%;
  }
  .nameContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nameContainer input {
    width: 100%;
  }
  .nameContainer #lastName {
    margin-left: 0;
  }
}

@media only screen and (max-width: 550px) {
  .projectOneImage,
  .projectTwoImage,
  .projectThreeImage {
    width: 80%;
  }
}

@media only screen and (max-width: 400px) {
  header .mainHeaderTitle {
    padding-bottom: 7rem;
  }
  header .bottomHeaderContainer {
    display: none;
  }
  .innerProjectScrollContainer {
    height: auto;
  }
  .aboutContainer {
    padding: 4rem 0 1rem 0;
  }
  .mainContactContainer {
    margin: 2rem 0 4rem 0;
    text-align: center;
  }
  .aboutLeftContainer {
    margin-bottom: 4rem;
  }
  .scrollContainerMain {
    padding-top: 4rem;
  }
  .scrollContainerLeft {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .arrowDown {
    display: none;
  }
  .projectThreeWrapper {
    margin-bottom: 3rem;
  }
  form {
    -webkit-box-shadow: none;
            box-shadow: none;
    width: 100%;
    height: 32rem;
    margin-top: 2rem;
  }
}

@media only screen and (max-width: 400px) and (max-height: 850px) {
  header .mainHeaderTitle {
    padding-bottom: 7rem;
  }
  header .bottomHeaderContainer {
    display: none;
  }
  .innerProjectScrollContainer {
    height: auto;
  }
  .aboutContainer {
    padding: 4rem 0 1rem 0;
  }
  .aboutLeftContainer {
    margin-bottom: 4rem;
  }
  .scrollContainerMain {
    padding-top: 4rem;
  }
  .scrollContainerLeft {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .arrowDown {
    display: none;
  }
  .projectThreeWrapper {
    margin-bottom: 3rem;
  }
  .contactLeftContainer {
    margin-top: 2rem;
  }
  form {
    height: 32rem;
    margin-top: 2rem;
  }
}
/*# sourceMappingURL=styles.css.map */